{% extends 'ACDB_app/base.html' %}

{% block content %}
	<div class="AC_list">
	<p>ユーザ名：<a href="http://judge.u-aizu.ac.jp/onlinejudge/user.jsp?id={{Data.userId}}">{{Data.userId}}</a></p>
	<p>提出番号：<a href="http://judge.u-aizu.ac.jp/onlinejudge/review.jsp?rid={{Data.judgeId}}">{{Data.judgeId}}</a></p>
	<p>問題番号：<a href="http://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id={{Data.problemId}}">{{Data.problemId}}</a></p>
	<p>使用言語：{{Data.language}}</p>
	<p>　コード：</p>
<pre class="prettyprint lang-cpp">
<div class="code-margin">
{{Data.sourceCode}}
</div>
</pre>
	</div>
{% endblock content %}