{% extends 'ACDB_app/base.html' %}

{% block content %}
	<form method="post">
    {% csrf_token %}

    {{ form }}
    <button type="submit">検索</button>
    </form>
	<br><br>
	<p>
	検索フォームにIDを入れることで<br>
	<a href="http://judge.u-aizu.ac.jp/onlinejudge/">AIZU ONLINE JUDGE</a>
	で正答した全てのソースコードを参照できます。<br>
	機能拡張予定！<br><br>
	下の表は採点時に利用してください
	</p>
	<table border="3" bordercolor="#b8f1f1" width="auto" height="auto" cellspacing="3" cellpadding="3" bgcolor="#f0f8ff">
	<tr>
	<th bgcolor="#b8f1f1">名前</th>
	<th bgcolor="#b8f1f1">ID</th>
	</tr>
	<tr>
	<td>澤浦 司</td>
	<td>tsuka325</td>
	</tr>
	<tr>
	<td>伊藤 翔</td>
	<td>makecir</td>
	</tr>
	<tr>
	<td>杉谷 圭太　</td>
	<td>tanishi114</td>
	</tr>
	<tr>
	<td>立川 瑛士　</td>
	<td>wents</td>
	</tr>
	<tr>
	<td>前川 由依</td>
	<td>mino_35</td>
	</tr>
	</table>

{% endblock content %}